<!DOCTYPE html>
<html lang="en">

<head>
  <% include templates/head.ejs%>

</head>

<body>

  <div id="header-img">
    <nav id="upper-nav" class="z-depth-0">
      <ul>
          <% if( locals.user) {%>        
            <li id="login-upper-nav" class="username"><a href="#!" ><i class="material-icons left">person</i>Logged in as <span class = "username"><%=user.name%></span></a></li> 
            <li id="login-upper-nav" class="main-nav-menu"><a href="/logout" ><i class="material-icons left">clear</i>Logout</a></li> 
          <% } else { %>     
            <li id="login-upper-nav" class="main-nav-menu"><a href="/login" ><i class="material-icons left">lock_open</i>Login</a></li> 
            <li id="login-upper-nav" class="main-nav-menu"><a href="/register" ><i class="material-icons left">create</i>Register</a></li> 
          <% } %>             
      </ul>
    </nav>
    <h1 class="thin" id="title">{ blog }</h1>
    <nav id= "main-nav">
        <ul>
          <li class="main-nav-menu"><a href="/about" ><i class="material-icons left">person</i>About</a></li>
          <li class="main-nav-menu"><a href="#!" ><i class="material-icons left">work</i>Projects</a></li>
          <li class="main-nav-menu"><a href="/" ><i class="material-icons left">home</i>Home</a></li>        
        </ul>
    </nav>
  </div>

    <div class="row flow-text">
      <% posts.forEach(post => { %>
        <div class="col s12 m6 l6">
          <div class="card grey lighten-4 hoverable">
            <div class="card-content">
              <span class="card-title">
                <strong> <%=post.title%> </strong>
              </span>
              <small style="font-size:13px"><strong><%=post.createdOn.toDateString()%></strong></small>  
              <p class ="truncate">
                <%= post.content.replace(/<(?:.|\s)*?>/g,"").slice(0,60) %>
              </p>
            </div>
              <div class="card-action">
                  <a href="/posts/<%= post._id%>">Full post</a>
              </div>
          </div>
        </div>
        <% }) %>
    </div>

    <% include templates/footer.ejs%>

      <script src="/javascripts/jquery-3.2.1.min.js"></script>
      <script src="/materialize/js/materialize.min.js"></script>
</body>

</html>